<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spam4Chat</a>
    <li class="nav-item">
      <app-register
        *ngIf="mostrarLLR"
        (click)="toggleRegistrarse()"
      ></app-register>
    </li>
    <li class="nav-item">
      <app-login *ngIf="mostrarLLR" />
    </li>
    <li class="nav-item">
      <button
        *ngIf="!mostrarLLR"
        mat-button
        style="
          text-align: center;
          width: 150px;
          height: 40px;
          background-color: #24c469;
          border-radius: 5px;
        "
        (click)="logOut()"
      >
        Cerrar Sesión
      </button>
    </li>
    <button
      *ngIf="!mostrarLLR"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Correo</h5>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Mis spams</a
            >
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>

<h1
  style="
    text-align: center;
    width: 400px;
    margin: 100px auto;
    background-color: #1976d2;
    border-radius: 5px;
  "
>
  Escribe tu spam
</h1>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <input
        style="height: 150px; width: 400px"
        type="text"
        [(ngModel)]="spamI"
        (input)="spamear()"
      />
      <div class="form-floating" style="margin: 20px auto; width: 200px">
        <mat-form-field>
          <mat-label>Lineas a spamear</mat-label>
          <mat-select
            [(ngModel)]="lineasSpam"
            (change)="spamear()"
            name="NumeroSpam"
          >
            <mat-option value="2"> 2 </mat-option>
            <mat-option value="3"> 3 </mat-option>
            <mat-option value="4"> 4 </mat-option>
            <mat-option value="5"> 5 </mat-option>
            <mat-option value="6"> 6 </mat-option>
            <mat-option value="7"> 7 </mat-option>
            <mat-option value="8"> 8 </mat-option>
            <mat-option value="9"> 9 </mat-option>
            <mat-option value="10"> 10 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <p
        style="
          background-color: #1976d2;
          width: 200px;
          margin: 20px auto;
          border-radius: 4px;
          color: antiquewhite;
        "
      >
        Desactivar Mayusculas
      </p>
      <mat-checkbox class="example-margin" [(ngModel)]="Mayus"></mat-checkbox>
    </div>
    <div class="col">
      <h4
        style="background-color: #1976d2; border-radius: 4px"
        ([Ngmodel])="(spamfC)"
        [innerHTML]="spam"
      ></h4>
      <button *ngIf="mostrarCopiar" class="btn btn-light" (click)="copiar()">
        <i class="fa-regular fa-copy"></i> Copiar
      </button>
      <button mat-button (click)="guardarSpam()">Guardar Spam</button>
    </div>
  </div>
</div>
