<div style="display: flex; align-items: center; justify-content: center; ">
  <h5 style="
    text-align: center;
    width: 400px;
    height: 40px;
    margin: 30px ;
    background-color: #19d257;
    border-radius: 5px;
  " class="btn" >Inicia Sesión</h5>
  
</div>

<div style="display: flex; align-items: center; justify-content: center; ">
  <h5 style="
    text-align: center;
    width: 400px;
    height: 40px;
    background-color: #5d6460;
    border-radius: 5px;
  " class="btn" (click)="mostrarR()">Registrate</h5>
  
</div>
<section *ngIf="mostrarRegistro" id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header" style=" display: flex;
          justify-content: space-between;
          align-items: center;">
            <h4>Register</h4>
            <button (click)="mostrarR()"><i class="fa-solid fa-xmark"></i></button>
          </div>
          <div class="card-body">
            <form  (submit)="vEmail()">
              <div class="form-group">
                <label for="email">Correo</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                 
                  class="form-control"
                 [(ngModel)]="email"
                  required
                />
                <div class="alert alert-warning mt-2" *ngIf="emailValid" role="alert">
                  {{emailvMsg}}
                </div>
              </div>
              
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  
                  [(ngModel)]="password"
                  required
                />
                <div class="alert alert-warning mt-2" *ngIf="passValid" role="alert">
                  {{passwordMsg}}
                </div>

              </div>
              <input type="submit" value="login" class="btn btn-primary w-100 mt-2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h1
  style="
    text-align: center;
    width: 400px;
    margin: 100px auto;
    background-color: #1976d2;
    border-radius: 5px;
  "
>
  Escribe tu spam
</h1>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <input
        style="height: 150px; width: 400px"
        type="text"
        [(ngModel)]="spamI"
        (input)="spamear()"
      />
      <div class="form-floating" style="margin: 20px auto; width: 200px; ">
        <select style="background-color: #1976d2;"
          [(ngModel)]="lineasSpam"
          (change)="spamear()"
          name="NumeroSpam"
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <label for="floatingSelect">Lineas a spamear</label>
      </div>

      <p
        style="
          background-color: #1976d2;
          width: 200px;
          margin: 20px auto;
          border-radius: 4px;
          color: antiquewhite;
        "
      >
        Desactivar Mayusculas
      </p>
      <input
        class="form-check-input mt-0"
        type="checkbox"
        [(ngModel)]="Mayus"
        (change)="DesactivarMayus()"
      />
    </div>
    <div class="col">
      <h4 style="background-color: #1976d2; border-radius: 4px;" ([Ngmodel])="spamfC" [innerHTML]="spam"></h4>
      <button *ngIf="mostrarCopiar" class="btn btn-light" (click)="copiar()"><i class="fa-regular fa-copy"></i> Copiar</button>
    </div>
  </div>
</div>


