<div style="display: flex; align-items: center; justify-content: center">
  <h5
    style="
      text-align: center;
      width: 400px;
      height: 40px;
      margin: 30px;
      background-color: #19d257;
      border-radius: 5px;
    "
    class="btn"
  >
    Inicia Sesión
  </h5>
</div>

<div style="display: flex; align-items: center; justify-content: center">
  <h5
    style="
      text-align: center;
      width: 400px;
      height: 40px;
      background-color: #5d6460;
      border-radius: 5px;
    "
    class="btn"
    (click)="mostrarR()"
  >
    Registrate
  </h5>
</div>
<section *ngIf="mostrarRegistro" id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div
            class="card-header"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <h4>Register</h4>
            <button (click)="mostrarR()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="card-body">
            <form (submit)="vEmail()">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Correo</mat-label>
                  <input
                    matInput
                    type="email"
                    name="email"
                    id="email"
                    placeholder="user@correo.cl"
                    [(ngModel)]="email"
                    required
                  />
                  <mat-error *ngIf="emailValid">{{ emailvMsg }}</mat-error>
                </mat-form-field>

                <!-- <div
                  class="alert alert-warning mt-2"
                  *ngIf="emailValid"
                  role="alert"
                >
                  {{ emailvMsg }}
                </div> -->
              </div>

              <div class="form-group">
                <mat-form-field>
                  <mat-label>Clave</mat-label>
                  <input
                    matInput
                    type="password"
                    name="password"
                    placeholder="*****"
                    id="password"
                    [(ngModel)]="password"
                    required
                  />
                  <mat-error *ngIf="passValid">{{ passwordMsg }}</mat-error>
                  <mat-hint align="end">Más de 5 caracteres</mat-hint>
                </mat-form-field>
              </div>
              <input
                type="submit"
                value="login"
                class="btn btn-primary w-100 mt-4"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="mostrarLogin" id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div
            class="card-header"
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <h4>Login</h4>
            <button (click)="mostrarL()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="card-body">
            <form (submit)="vEmail()">
              <div class="form-group">
                <mat-form-field>
                  <mat-label>Correo</mat-label>
                  <input
                    matInput
                    type="email"
                    name="email"
                    id="email"
                    placeholder="user@correo.cl"
                    [(ngModel)]="email"
                    required
                  />
                  <mat-error *ngIf="emailValid">{{ emailvMsg }}</mat-error>
                </mat-form-field>

              
              </div>

              <div class="form-group">
                <mat-form-field>
                  <mat-label>Clave</mat-label>
                  <input
                    matInput
                    type="password"
                    name="password"
                    placeholder="*****"
                    id="password"
                    [(ngModel)]="password"
                    required
                  />
                  <mat-error *ngIf="passValid">{{ passwordMsg }}</mat-error>
                 
                </mat-form-field>
              </div>
              <input
                type="submit"
                value="login"
                class="btn btn-primary w-100 mt-4"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h1
  style="
    text-align: center;
    width: 400px;
    margin: 100px auto;
    background-color: #1976d2;
    border-radius: 5px;
  "
>
  Escribe tu spam
</h1>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <input
        style="height: 150px; width: 400px"
        type="text"
        [(ngModel)]="spamI"
        (input)="spamear()"
      />
      <div class="form-floating" style="margin: 20px auto; width: 200px">
        <mat-form-field >
          <mat-label>Lineas a spamear</mat-label>
          <mat-select  [(ngModel)]="lineasSpam"
          (change)="spamear()"
          name="NumeroSpam">
            <mat-option value="2"> 2 </mat-option>
            <mat-option value="3"> 3 </mat-option>
            <mat-option value="4"> 4 </mat-option>
            <mat-option value="5"> 5 </mat-option>
            <mat-option value="6"> 6 </mat-option>
            <mat-option value="7"> 7 </mat-option>
            <mat-option value="8"> 8 </mat-option>
            <mat-option value="9"> 9 </mat-option>
            <mat-option value="10"> 10 </mat-option>
          </mat-select>
        </mat-form-field>
   
      </div>

      <p
        style="
          background-color: #1976d2;
          width: 200px;
          margin: 20px auto;
          border-radius: 4px;
          color: antiquewhite;
        "
      >
        Desactivar Mayusculas
      </p>
      <mat-checkbox class="example-margin" [(ngModel)]="Mayus"></mat-checkbox>
   
    </div>
    <div class="col">
      <h4
        style="background-color: #1976d2; border-radius: 4px"
        ([Ngmodel])="(spamfC)"
        [innerHTML]="spam"
      ></h4>
      <button *ngIf="mostrarCopiar" class="btn btn-light" (click)="copiar()">
        <i class="fa-regular fa-copy"></i> Copiar
      </button>
      <button mat-button (click)="guardarSpam()">Guardar Spam</button>
    </div>
  </div>
</div>
